@import "../../App.scss";
@import "../reuseable-styling/mixins";

.details {
  &__container {
    padding: 16px;
    padding-top: 40px;

    &--spacing{
      @include tabletSize{
        margin: auto 24px;
        display: flex;
        justify-content: space-around;
      }
      @include desktopSize{
        margin: auto 48px;
    }
    }
  }

  &__left-arrow {
    position: absolute;
    left: 20px;
    height: 32px;
  }
   
  &__title {
    font-size: 27px;
    font-weight: 600;
    color: $colordarkest;
    padding-left: 40px;
    padding-bottom: 15px;
  }

  &__titles {
    color: $colordark;
    font-weight: 500;
    padding-bottom: 12px;
    padding-top: 15px;
  }

  &__text {
    line-height: 23px;
    max-width: 300px;
  }

  &__phone {
    padding-top: 20px;
    line-height: 22px;
  }

  &__kebab {
    padding-top: 10px;
    position: fixed;
    right: 35px;
    height: 34px;
    @include tabletSize{
      margin: auto 24px;
    }
    @include desktopSize{
      margin: auto 48px;
    }
    
  }
}

.items-container {
  background-color: $colorlight;
  padding: 16px;
  @include tabletSize{
    margin: auto 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  @include desktopSize{
    margin: auto 48px;
  }
}