@import "../../App.scss";
@import "../reuseable-styling/mixins";

.details {
  &-container {
    padding: 16px;
    padding-top: 40px;
  }

  &__left-arrow {
    position: absolute;
    left: 20px;
    height: 32px;
  }
   
  &__title {
    font-size: 27px;
    font-weight: 600;
    color: $colordarkest;
    padding-left: 40px;
    padding-bottom: 15px;
  }

  &__titles {
    color: $colordark;
    font-weight: 500;
    padding-bottom: 12px;
    padding-top: 15px;
  }

  &__text {
    line-height: 23px;
  }

  &__phone {
    padding-top: 20px;
    line-height: 22px;
  }

  &__kebab {
    padding-top: 10px;
    position: absolute;
    right: 35px;
    height: 34px;
    
  }
}

.items-container {
  background-color: $colorlight;
  padding: 16px;
}