@import "../src/components/reuseable-styling/mixins";
@import "../src/components/reuseable-styling/fonts";

* {
  font-family: 'Avenir Next LT Pro', 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: white;
}