@import "../../App.scss";
@import "../reuseable-styling/mixins";

.locations {
  &-container {padding: 16px}

  &-search {
    padding-top: 20px;
    width: 100%;

    &__title {
      font-size: 32px;
      font-weight: 600;
      color: $colordarkest;
    }

    &__search {
      width: 90%;
      height: 60px;
      border-radius: 5px;
      margin-top: 10px;
      padding-left: 35px;
      border: 2px solid $colormid;
      background-color: $colorlight;
      background-image: url('../../assets/Icons/SVG/Icon-search.svg');
      background-repeat: no-repeat;
      background-position: center left 10px;
      font-size: 14px;
    }
  }
}

.warehouse-list {
  padding-top: 35px;
  font-size: 15px;
  line-height: 21px;
  border-bottom: 1px solid $colormid;

  &__warehouse {
    font-weight: 500;
    padding-bottom: 0;
  }

  &__right-arrow {
    position: absolute;
    right: 20px;
    height: 25px;
  }

  &__address {padding-top: 12px}
  &__contact {padding-top: 20px}
  &__position {font-style: italic;}
  &__phone {padding-top: 25px}

  &__desc {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}