@import "../../App.scss";
@import "../reuseable-styling/mixins";

.locations {
  &-container {
    padding: 16px;
  
    @include tabletSize {padding: 25px 15px 25px 25px}
  }

  &-search {
    padding-top: 20px;
    width: 100%;

    @include tabletSize {
      padding-top: 8px;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__title {
      font-size: 32px;
      font-weight: 600;
      color: $colordarkest;

      @include tabletSize {
        font-size: 36px;
      }
    }

    &__search {
      width: 90%;
      height: 60px;
      border-radius: 5px;
      margin-top: 10px;
      padding-left: 35px;
      border: 2px solid $colormid;
      background-color: $colorlight;
      background-image: url('../../assets/Icons/SVG/Icon-search.svg');
      background-repeat: no-repeat;
      background-position: center left 10px;
      font-size: 14px;

      @include tabletSize {
        width: 35%;
        height: 45px;
        margin-right: 0px;
      }
    }
  }
}

.warehouse-list {
  padding-top: 30px;
  font-size: 15px;
  line-height: 21px;
  border-bottom: 1px solid $colormid;

    @include tabletSize {
      padding-top: 25px;
    }

  &__wrapper {
    @include tabletSize{
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: flex-start;
      height: 68px;
      width: 100%;
      margin-bottom: 13px;
    }
  }

  &__warehouse {
    font-weight: 500;
    padding-bottom: 0;
  }

  &__right-arrow {
    position: absolute;
    right: 20px;
    height: 25px;

    @include tabletSize {
      height: 18px;
    }
  }

  &__address {
    padding-top: 12px;
  
    @include tabletSize {
      font-size: 14px;
      padding-top: 0;
    }
  }
  &__contact {
    padding-top: 20px;
  
    @include tabletSize {
      padding-top: 15px;
      width: 31%;
    }
  }
  &__position {
      font-style: italic;
      
      @include tabletSize {
        width: 31%;
      }
    }
  &__phone {
      padding-top: 25px;
    
      @include tabletSize {
        padding-top: 15px;
        width: 31%;
      }
    }

  &__desc {
    padding-top: 20px;
    padding-bottom: 25px;

    @include tabletSize {
      padding-top: 15px;
      width: 31%;
    }
  }
}