@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Thin.otf");
  font-weight: 100;
}

.modalW {
  font-family: Avenir Next LT Pro;
}

.modalW__select {
  background-color: #004892;
  padding: 5px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  margin-top: 360px;
  margin-left: 275px;
}

@media (min-width: 768px) {
  .modalW__select {
    margin-top: 500px;
    margin-left: 650px;
  }
}

@media (min-width: 1200px) {
  .modalW__select {
    margin-top: 850px;
    margin-left: 1050px;
  }
}

.modalW__select--img {
  width: 25px;
  height: auto;
}

@media (min-width: 1200px) {
  .modalW__select--img {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .modalW__title {
    margin-right: auto 26px;
  }
}

.modalW__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

@media (min-width: 768px) {
  .modalW__form {
    margin: auto 26px;
    font-size: 18px;
  }
}

.modalW__form--label {
  color: #afafaf;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.modalW__form--input {
  margin-bottom: 20px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 40px;
  padding: 5px 15px;
}

.modalW__form--textArea {
  margin-bottom: 25px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 60px;
  padding: 15px 15px;
  width: 100%;
}

.modalW__form--save {
  background-color: #004892;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .modalW__form--save {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
}

.modalW__form--cancel {
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 500;
  color: #004892;
}

@media (min-width: 768px) {
  .modalW__form--cancel {
    width: 120px;
    margin-bottom: 30px;
    font-size: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .modalW__form--container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .modalW__form--containerButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  textarea {
    margin: auto 26px;
    overflow: hidden;
  }
}
/*# sourceMappingURL=WarehouseModal.css.map */