$tablet: 768px;
$desktop: 1200px;
$phone: 320px;

$colorlightest: #FFFFFF;
$colorlight: rgb(249,249,249);
$colormid: #E1E1E1;
$colordark: #AFAFAF;
$colordarkest: #323232;
$colorCTAblue: #004892;
$colorCTAbluehover: #002F5F;
$colorCTAgreen: rgb(105,176,27);