@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Thin.otf");
  font-weight: 100;
}

.product {
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .product {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1200px) {
  .product {
    padding: 0 11.25rem;
  }
}

@media (min-width: 768px) {
  .product__header-container--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.product__header-container--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.25rem;
}

@media (min-width: 768px) {
  .product__header-container--title {
    margin-right: 1.5rem;
    width: 15rem;
  }
}

@media (min-width: 1200px) {
  .product__header-container--title {
    margin-right: 1.5rem;
    width: 15rem;
  }
}

.product__back-arrow {
  height: 1.5rem;
  width: 1rem;
}

.product__name {
  font-family: "Avenir Next LT Pro";
  font-weight: 700;
  color: #323232;
  font-size: 1.625rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .product__name {
    margin: 3rem 0 2.5rem 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 1200px) {
  .product__name {
    margin: 3rem 0 2.5rem 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.product__stock--in {
  background-color: #69b01b;
  border-radius: 0.25rem;
  color: #FFFFFF;
  width: 5.5rem;
  height: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-size: 0.75rem;
}

.product__stock--out {
  background-color: #AFAFAF;
  border-radius: 0.25rem;
  color: #323232;
  padding: 0.25rem 2rem;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .product__summary {
    border-top: 0.125rem solid #AFAFAF;
    border-bottom: 0.125rem solid #AFAFAF;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .product__summary {
    border-top: 0.125rem solid #AFAFAF;
    border-bottom: 0.125rem solid #AFAFAF;
    margin-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.product__item-description {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .product__item-description {
    margin: 2.5rem 0;
  }
}

@media (min-width: 1200px) {
  .product__item-description {
    margin: 2.5rem 0;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .product__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .product__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .product__info-container--with-categories {
    width: 50%;
    margin-top: 2.5rem;
  }
}

@media (min-width: 768px) {
  .product__info-container--row1, .product__info-container--row2, .product__info-container--row3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0 0 3.5rem 0;
  }
}

@media (min-width: 1200px) {
  .product__info-container--row1, .product__info-container--row2, .product__info-container--row3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0 0 3.5rem 0;
  }
}

.product__data {
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  margin: 0 0 1.5rem 0;
}

@media (min-width: 768px) {
  .product__data {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .product__data {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .product__data-container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .product__data-container {
    width: 50%;
  }
}

.product__data-label {
  color: #AFAFAF;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "Avenir Next LT Pro";
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

@media (min-width: 1200px) {
  .product__data-label {
    margin: 0 0 1rem 0;
  }
}

.product__categories {
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .product__categories {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .product__categories {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .product__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .product__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.product__button--edit {
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  background-color: #004892;
  color: #FFFFFF;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 0.25rem;
  margin: 0 0 1rem 0;
}

@media (min-width: 768px) {
  .product__button--edit {
    width: 10rem;
  }
}

@media (min-width: 1200px) {
  .product__button--edit {
    width: 10rem;
  }
}
/*# sourceMappingURL=ProductSummary.css.map */