@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../../assets/_Global Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Thin.otf");
  font-weight: 100;
}

* {
  font-family: 'Avenir Next LT Pro', 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #323232;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 68px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 69px;
    padding: 15px 148px;
  }
}

.header__logo {
  height: 23px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .header__logo {
    width: auto;
    margin: 0 65px 8px 0;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    height: 15px;
    margin: 0px 5.5% 10px 0;
  }
}

.header__logo-image {
  width: 100%;
  height: 23px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header__logo-image {
    width: auto;
    height: 22px;
    margin-top: 3px;
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .header__logo-image {
    -o-object-fit: contain;
       object-fit: contain;
    height: 16px;
    margin: 0px 1% 15px 0;
  }
}

.header__inventory {
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  height: 50px;
  padding: 9px 0;
  text-align: center;
  border-bottom: 4px solid #323232;
}

@media (min-width: 768px) {
  .header__inventory {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 12%;
    height: auto;
    margin: 0 35px 0 0px;
    padding: 23px 0;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .header__inventory {
    width: 7%;
    margin-left: 0px;
    margin-right: 45px;
    padding: 18px 0;
    font-size: 12px;
  }
}

.header__inventory--active {
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  height: 50px;
  padding: 8px 0;
  text-align: center;
  border-bottom: 4px solid white;
}

@media (min-width: 768px) {
  .header__inventory--active {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 12%;
    height: auto;
    margin: 0 35px 0 0px;
    padding: 23px 0;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .header__inventory--active {
    width: 7%;
    margin-left: 0px;
    margin-right: 45px;
    padding: 18px 0;
    font-size: 12px;
  }
}

.header__locations {
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  height: 50px;
  padding: 9px 0;
  text-align: center;
  border-bottom: 4px solid #323232;
}

@media (min-width: 768px) {
  .header__locations {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 12%;
    height: auto;
    margin: 0 8px 0 0px;
    padding: 23px 0;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .header__locations {
    width: 7%;
    margin-left: 0px;
    margin-right: 25px;
    padding: 18px 0;
    font-size: 12px;
  }
}

.header__locations--active {
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  height: 50px;
  padding: 8px 0;
  text-align: center;
  border-bottom: 4px solid white;
}

@media (min-width: 768px) {
  .header__locations--active {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 12%;
    height: auto;
    margin: 0 35px 0 0px;
    padding: 23px 0;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .header__locations--active {
    width: 7%;
    margin-left: 0px;
    margin-right: 45px;
    padding: 18px 0;
    font-size: 12px;
  }
}
/*# sourceMappingURL=Header.css.map */